



#footer {

    background-color: white;
}


.text2 {

    font-family: "Public Sans", sans-serif;
    color:darkgray;
    padding-top: 2em;
    font-size: 97%;
}


.bild10 {

    width: 65%;
}


.img_card {

    width: 70%;

}

